input.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 5px;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 5px;
}

.ing-col {
  margin-bottom: 5px;
}
