<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(editform)" #editform="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    ngModel
                    #nameInput
                    required>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="amount">Amount</label>
                    <input type="number"
                    id="amount"
                    name="amount"
                    pattern="^[1-9]+[0-9]*$"
                    ngModel
                    class="form-control"
                    #amountInput
                    required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="button button__add"
                    type="submit"
                    [disabled]="!editform.valid">{{editMode ? ' Update': 'Add'}}</button>
                    <button class="button btn-danger" type="button"
                     (click)="deleteIng()"
                     *ngIf="editMode">Delete</button>
                    <button class="button button__add" type="button"
                    (click)="clearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
